@font-face {
    font-family: "din";
    font-weight: 100;
    src: url("../fonts/DIN-Light.otf");
}
@font-face {
    font-family: "din";
    font-weight: normal;
    src: url("../fonts/DIN-Regula.otf");
}
@font-face {
    font-family: "din";
    font-weight: bold;
    src: url("../fonts/DIN-Bold.otf");
}
@font-face {
    font-family: "led";
    src: url("../fonts/LED-Regula.ttf");
}
